h1{
    color: red;
}

pre.a{
    height: 50px;
    background-color: lightblue;
}
img{
    width: 150;
}
#d1{
    text-align: center;
}
h1,h2,li,p{
    text-align: center;
}
body{
    background-color: rgb(255, 200, 127);
}
